.container{
    height: 300px;
    width: 500px;
    margin: 10% auto;
    border: 1px solid black;
    position: relative;
}

.circle{
    position: absolute;
    
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aquamarine;
}